<nav class="navbar navbar-default" ng-controller="NavigationCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/">Global Development Projects</a>
        </div>
        <ul class="nav navbar-nav" bs-navbar>
            <li data-match-route="/$" class=""><a href="/#/">Home</a></li>
            <li data-match-route="/projects"><a href="/#/projects">Projects</a></li>
            <li data-match-route="/about"><a href="/#/">About This Initiative</a></li>
            <li data-match-route="/contact"><a href="/#/">Contact</a></li>
        </ul>
        <ul ng-if="!userLoggedIn" class="nav navbar-nav navbar-right">
            <li>
                <a href="#/" data-toggle="modal" data-target="#userSignup">Create Account</a>
            </li>
            <li>
                <a href="/#/" data-toggle="modal" data-target="#userLogin">Log In</a>
            </li>
        </ul>
        <ul ng-if="userLoggedIn" class="nav navbar-nav navbar-right">
            <li>
                <a href="/#/" data-toggle="modal" data-target="#createProject"><b>Submit A Project</b></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <i class="fa fa-user fa-fw"></i> <strong>{{user.first_name}} {{user.last_name}}</strong> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/#/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="/#/profile"><i class="fa fa-area-chart fa-fw"></i> My Projects</a>
                    </li>
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>

        </ul>

    </div>
</nav>

<ng-include src="'/partials/modals/newproject.html'"></ng-include>

<ng-include src="'/partials/modals/login.html'"></ng-include>

<ng-include src="'/partials/modals/signup.html'"></ng-include>