<ng-include src="'/partials/common/navigation.html'"></ng-include>

<div class="container">

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-body"><p class="lead">Welcome to our project catalog for initiatives aimed at achieving the <a href="http://www.globalgoals.org/" target="_blank"><b>17 Global Goals for Sustainable Development</b></a> set out by the United Nations! Feel free to browse the exciting projects on display here or submit one of your own (if you <a href="/#/signup"><b>register</b></a>). After registering, you'll also be able to join existing projects as a volunteer and participate in group discussions!</p></div>
        </div>

    <div style="margin: 0 auto;" class="col-md-4" ng-repeat="goal in goals">

        <img class="img-responsive center-block" ng-src="{{ goal.image_url }}"/>

        <div class="panel panel-default">
            <div class="panel-body goalText"><p style="display:block;">{{ goal.name }} - {{ goal.description }}</p>

            <button type="button" class="btn btn-primary"><b>View Projects</b></button>

            </div>
        </div>

    </div>

    </div>

</div>
