<ng-include src="'/partials/common/navigation.html'"></ng-include>

<div class="container">

    <div class="row">

    <div style="margin: 0 auto;" class="col-md-4" ng-repeat="goal in goals">

        <img class="img-responsive center-block" ng-src="{{ goal.image_url }}"/>

        <div class="panel panel-default">
            <div class="panel-body goalText"><p style="display:block;">{{ goal.name }} - {{ goal.description }}</p>

            <button type="button" class="btn btn-primary"><b>View Projects</b></button>

            </div>
        </div>

    </div>

    </div>

</div>
